.footer {
    width: 100vw;
    height: 30vh;
    background-color: #424242;
    padding: 30px;
    margin: 20vh auto 0 auto;
    text-align: center;
}

.footerTitle {
    text-decoration-line: underline;
    font: Roquen;
    font-size: 48px;
    color: #FFFFFF;
}

.footerText {
    color: #ffffff;
    font-size: 24px;
    margin-top: 10px;
}
