
<div class="footer">
    <h2 class="footerTitle">Contact</h2>
    <MudIconButton Size="Size.Large" Style="color: #ffffff" Href="/fetchdata" Icon="@Icons.Custom.Brands.LinkedIn" />
    <MudIconButton Size="Size.Large" Style="color: #ffffff" Href="/fetchdata" Icon="@Icons.Custom.Brands.GitHub" />
    <p class="footerText">hunterpage27171@gmail.com</p>
</div>

@code {

}
