
<div class="footer">
    <h2 class="footerTitle">Links</h2>
    <MudIconButton Size="Size.Large" Style="color: #ffffff" Href="/fetchdata" Icon="@Icons.Custom.Brands.LinkedIn" />
    <MudIconButton Size="Size.Large" Style="color: #ffffff" Href="/fetchdata" Icon="@Icons.Custom.Brands.GitHub" />
</div>

@code {

}
