.container {
    width: 85%;
    height: 50vh;
    background-color: #4c5c54;
    margin: auto auto 20vh auto;
}

.name {
    font: Roquen;
    font-size: calc(24px + 1.5vw);
    font-weight: 800;
    text-align: center;
    margin-bottom: 5vh;
    margin-top: 5vh;
    color: #202020;
}

.text-box {
    font: Roquen;
    font-size: calc(38px + 1.2vw);
    font-weight: 800;
    margin-bottom: 5vh;
    margin-top: 5vh;
    color: #202020;
    text-decoration-line: underline;
    width: 100%;
    text-align: center;
}

.image {
    width: 40vw;
    max-width: 440px;
    height: calc(300px * 0.1vh);
    animation: fade 1s linear;
    box-shadow: 5px 5px 5px #808080;
    float: right;
    margin: 5vh 15vw 0% 0%;
    position: absolute;
}

.paragraph {
    padding-left: 20%;
    padding-right: 20%;
    font: Roquen;
    font-size: calc(12px + 1.0vw);
    font-weight: 500;
    text-align: center;
    color: #202020;
    margin-bottom: 10vh;
    margin-top: 10vh;
}

.title-holder {
    margin: 5vh auto auto 5%;
    width: 50%;
    float: left;
    text-align: left;
}



.link-holder {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: white;
    height: 65vh;
    row-gap: 50px;
    column-gap: 50px;
    width: 65vw;
    margin: auto;
}

.link-value {
    text-align: center;
    height: 100%;
    width: 100%;
    font-size: 28px;
    transition-property: background-color, color;
    transition-duration: 0.33s;
    transition-timing-function: ease;
    background-color: #4c5c54;
    border-radius: 10px;
    color: #202020;
}

.link-value:hover {
    background-color: darkgrey;
} 

.sub-title {
    color: #202020;
    font: Roquen;
    font-size: calc(18px + 1.2vw);
    font-weight: 800;
    margin-bottom: 30px;
    margin-top: 60px;
}

.sub-body {
    font: Roquen;
    font-size: calc(8px + 0.9vw);
    font-weight: 800;
}

.api-image {
    width: calc(300px + 0.3vw);
    height: 300px;
    margin-bottom: 20px;
}

.education-holder {
    width: 70%;
    height: 30vh;
    margin: auto;
    text-align: center;
    margin-bottom: 20vh;
}

.carousel-item {
    background-color: rgb(255, 255, 255); /* Fallback color */
    background-color: rgba(255, 255, 255, 0.6); /* Black w/opacity/see-through */
    color: black;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
}

.carousel-image {
    filter: blur(8px);
    -webkit-filter: blur(8px);
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@keyframes fade {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}