@page "/"

<PageTitle>Home</PageTitle>
<div class="container">
    <div class="title-holder">
        <h3 class="name">Hunter Page</h3>
        <p class="paragraph">Software Developer</p>
    </div>
    <img class="image" src="IMG_9717.jpg" />
</div>
<h4 class="text-box">About Me</h4>
<p class="paragraph">
    I am a backend software developer that has been in the industry for two years. In this time I have developed and 
    maintained RESTful APIs, Command Line Interfaces, and in-house libraries using .NET and GOLANG. In my spare time, I like to work on my own projects, 
    both old and new. I like to dive into new frameworks and languages such as GOLANG and Blazor. I also like to code in C and study lower-level
    concepts such as OS development.
</p>
<MudDivider DividerType="DividerType.Middle" Style="height: 5px; background-color: darkgrey;" />
<h4 class="text-box">Education</h4>
<div class="education-holder">
    <h4 class="sub-title">East Tennessee State University</h4>
    <p class="sub-body">
        Johnson City, TN | August 2019 – December 2021<br />
        Bachelor of Science in Computing; Concentration – Computer Science <br />
        GPA: 3.85, Summa Cum Laude <br />
    </p>
    <h4 class="sub-title">Northeast State Community College</h4>
    <p class="sub-body">
        Blountville, TN | September 2017 – May 2019<br />
        Associates of Applied Science: Computer Information Technology - Programming<br />
        GPA: 3.9, Magna Cum Laude <br />
    </p>
</div>

<MudDivider DividerType="DividerType.Middle" Style="height: 5px; background-color: darkgrey; margin-top: 5%; margin-bottom: 5%;" />

<h4 class="text-box">Skills</h4>
<MudCarousel Style="margin:0 auto !important; width: 75%; border:2px solid black; border-radius: 10px; height:600px;" TData="object" AutoCycle="false" ArrowsPosition="Position.Center">
    <PreviousButtonTemplate>
        <div Class="mud-button-root mud-icon-button mud-icon-button-color-inherit mud-ripple mud-ripple-icon">
            <span class="mud-icon-button-label">
                <MudIcon Class="mud-ripple mud-ripple-icon mud-icon-button-size-medium" Icon="@Icons.Material.Filled.SkipPrevious" Color="@Color.Dark" Size="Size.Large" />
            </span>
        </div>
    </PreviousButtonTemplate>
    <NextButtonTemplate>
        <div Class="mud-button-root mud-icon-button mud-icon-button-color-inherit mud-ripple mud-ripple-icon">
            <span class="mud-icon-button-label">
                <MudIcon Class="mud-ripple mud-ripple-icon mud-icon-button-size-medium" Icon="@Icons.Material.Filled.SkipNext" Color="@Color.Dark" Size="Size.Large" />
            </span>
        </div>
    </NextButtonTemplate>
    <ChildContent>
        <MudCarouselItem>
            <div class="carousel-image" style="background-image: url(api.png);"></div>
            <div class="carousel-item">
                <h4 class="sub-title">API Development</h4>
                <p class="sub-body">
                    Two years of development and maintenance of RESTful APIs in both GOLANG and .NET.
                </p>
            </div>
        </MudCarouselItem>
        <MudCarouselItem>
            <div class="carousel-image" style="background-image: url(net2.png);"></div>
            <div class="carousel-item">
                <h4 class="sub-title">.NET</h4>
                <p class="sub-body">
                    5+ years of experience in the .NET environment. Experience includes CLIs, APIs, web development using Blazor, algorithm and
                    data structure analysis, object-oriented programming, and library creation.
                </p>
            </div>
        </MudCarouselItem>
        <MudCarouselItem>
            <div class="carousel-image" style="background-image: url(languages.png);"></div>
            <div class="carousel-item">
                <h4 class="sub-title">Other Experience</h4>
                <p class="sub-body">
                    2+ years of MYSQL database programming, 3+ years programming in Linux OS Environments, performing Test-Driven Development,
                    Object-Oriented Java development, C programming, PHP, Web-development(HTML, CSS, JavaScript)
                </p>
            </div>

        </MudCarouselItem>
    </ChildContent>
</MudCarousel>

<h4 class="text-box">Future Plans</h4>
<p class="paragraph">
   Currently I am developing in .NET through this website and remaking older school projects and posting them on github. I plan to 
   start contributing to open source software when I find projects on github that I am interested in. Any projects that I am working on 
   can be viewed on my github commits. Any software that I write will be viewable on my repos and probably have its own page under the "Projects" 
   section of this website. There are links below to contact me with any questions or suggestions, as I am open to any. Hopefully this website has given a 
   decent idea at the developer I currently am and plan to be in the future. Thank you for taking the time to look me up!
</p>